

    <form method="POST" enctype="multipart/form-data">
        <h2>Add Category Page</h2>
        <div>
            Category Name:<input type="text" name="categoryName">
        </div>
        <div>
            Parent Category :<select name="parentCategory">
                <option value="0">parent</option>
                {% for parentCategory in post %}
                <option value="{{parentCategory.categoryid}}">{{parentCategory.categoryName}}</option>
                {% endfor %}
                </select>
        </div>
        <div>
            Url Key:<input type="text" name="urlkey">
        </div>
        <div>
            Image:<input type="file" name="image">
        </div>
        <div>
            Status:<select name="status">
                <option value="Avaiable">Avaiable</option>
                <option value="Not-Avaiable">Not-Avaiable</option>
            </select>
        </div>
        <div>
            Description:<textarea name="description" rows="5" cols="20"></textarea>
        </div>
        <input type="submit" name="submit">
    </form>
{% block body %}
{% endblock %}