{% block body %}
    <form method="POST">
        <div>
            Title:<input type="text" name="title" value="{{post.title}}">
        </div>
        <div>
            Vehicle Number:<input type="text" name="vehiclenumber" value="{{post.vehiclenumber}}">
        </div>
        <div>
            License Number:<input type="text" name="licensenumber" value="{{post.licensenumber}}">
        </div>
        <div>
            date:<input type="date" name="date" value="{{post.date}}">
        </div>
        <div>
            Time slot:<select name="timeslot">
                {% if post.timeslot == "1" %}
                {% set selected = "selected" %}
                {% else %}
                {% set selected = "" %}
                {% endif %}
                <option value="1">9-10</option>
                {% if post.timeslot == "1" %}
                {% set selected = "selected" %}
                {% else %}
                {% set selected = "" %}
                {% endif %}
                <option value="2">10-11</option>
                {% if post.timeslot == "1" %}
                {% set selected = "selected" %}
                {% else %}
                {% set selected = "" %}
                {% endif %}
                <option value="3">11-12</option>
                {% if post.timeslot == "1" %}
                {% set selected = "selected" %}
                {% else %}
                {% set selected = "" %}
                {% endif %}
                <option value="4">12-1</option>
                {% if post.timeslot == "1" %}
                {% set selected = "selected" %}
                {% else %}
                {% set selected = "" %}
                {% endif %}
                <option value="5">1-2</option>
                {% if post.timeslot == "1" %}
                {% set selected = "selected" %}
                {% else %}
                {% set selected = "" %}
                {% endif %}
                <option value="6">2-3</option>
                {% if post.timeslot == "1" %}
                {% set selected = "selected" %}
                {% else %}
                {% set selected = "" %}
                {% endif %}
                <option value="7">3-4</option>
                {% if post.timeslot == "1" %}
                {% set selected = "selected" %}
                {% else %}
                {% set selected = "" %}
                {% endif %}
                <option value="8">4-5</option>
                {% if post.timeslot == "1" %}
                {% set selected = "selected" %}
                {% else %}
                {% set selected = "" %}
                {% endif %}
                <option value="9">5-6</option>
            </select>
        </div>
        <div>
            Vehicle issue:<textarea rows="5" cols="20" name="vehicleissue">{{post.vehicleissue}}</textarea>
        </div>
        <div>
            service center:<select name="servicecenter">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                </select>
        </div>
        <div>
        status:<select name="status">
            {% if post.status == "pending" %}
            {% set selected = "selected" %}
            {% else %}
            {% set selected = "" %}
            {% endif %}
            <option value="pending">pending</option>
            {% if post.status == "approved" %}
            {% set selected = "selected" %}
            {% else %}
            {% set selected = "" %}
            {% endif %}
            <option value="approved">approved</option>
        </select>
        </div>
        <input type="submit" name="submit">
    </form>
{% endblock %}