{% block body %}
    <form method="POST">
        <div class="data-firstname">
            <label>Firstname</label>
            <input type="text" name="firstname" >
        </div>
        <div class="data-lastname">
            <label>Lastname</label>
            <input type="text" name="lastname">
        </div>
        <div class="data-email">
            <label>Email</label>
            <input type="text" name="email">
        </div>
        <div class="data-password">
            <label>Password</label>
            <input type="text" name="password">
        </div>
        <div class="data-phonenumber">
            <label>Phone Number</label>
            <input type="text" name="phonenumber">
        </div>
        <div class="data-street">
            <label>Street</label>
            <input type="text" name="street">
        </div>
        <div class="data-city">
            <label>City</label>
            <input type="text" name="city">
        </div>
        <div class="data-state">
            <label>State</label>
            <input type="text" name="state">
        </div>
        <div class="data-zipCode">
            <label>Zip Code</label>
            <input type="text" name="zipcode">
        </div>
        <div class="data-country">
            <label>Country</label>
            <input type="text" name="country">
        </div>
        <input type="submit" name="submit">
    </form>
{% endblock %}