{% block body %}
    <form method="POST">
        <a href="/vehicleregistration/public/service/Registration/add">add service registration </a>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>VehicleNumber</th>
                <th>License Number</th>
                <th>Date</th>
                <th>Timeslot</th>
                <th>Vehicle issue</th>
                <th>service center</th>
                <th>status</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{post.title}}</td>
                <td>{{post.vehiclenumber}}</td>
                <td>{{post.licensenumber}}</td>
                <td>{{post.date}}</td>
                <td>{{post.timeslot}}</td>
                <td>{{post.vehicleissue}}</td>
                <td>{{post.servicecenter}}</td>
                <td>{{post.status}}</td>
            </tr>
            {% endfor %}
            </table>
    </form>
{% endblock %}